---
import Layout from "../layouts/ProfileLayout.astro";
---

<Layout title="Welcome to Affiliate">
  <header>
    <div class="container">
      <div class="user">
        <img src="/img/logo2.png" alt="user" />
        <h1>[[name]]</h1>
      </div>
      <div class="menu">
        <span class="material-symbols-outlined">menu</span>
      </div>
    </div>
  </header>

  <main>
    <div class="container">
      <h2>Affiliates</h2>
	  <div class="pro-cards" id="pro-cards">[[procards]]</div>
    </div>
  </main>
</Layout>
