---
import Layout from "../layouts/JoinLayout.astro";
---

<Layout title="Join FreedomeE">
  <main>
    <div class="container">
      <div class="join-verify">
        <h1>Thank you for registering!</h1><p>
          Your personal sharing link is: <b>fd2e.com/Sfg3 </b>
        </p><p>&#8212; Share it all over the planet!</p><p>
          We have sent a verification code to your email.<br />Enter the code
          below:
        </p>
		<div class="code">
          <input
            id="verify-code"
            placeholder="999999"
            spellcheck="false"
            data-ms-editor="true"
          /><button>Verify</button>
        </div>
      </div>
    </div>
  </main>
</Layout>
